$color-white : #FFFFFF;
$color-black : #000;

$color-gray : rgb(206, 206, 206);
$color-silver : #F1F1F1;
$color-comments : #f2f2f2;

$font-dancingScript : 'Dancing Script' , crusive;
$font-josefinSans : 'Josefin Sans' , sans-serif;
$font-nunito : 'Nunito',sans-serif;
$font-main : IranSans;
$font-title : Shabnam;
$font-vaziri : Vazir;
$font-josef : sans-serif;


@font-face {
    font-family: IranSans;
    src: url('../Adds/Fonts/Iranian Sans.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Shabnam;
    src: url('../Adds/Fonts/Shabnam-Bold.ttf');
}

@font-face {
    font-family: Vazir;
    src: url('../Adds/Fonts/Vazir.ttf');
}

@font-face {
    font-family: 'Josefin Sans', sans-serif;
    src:  url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
}

@mixin centering {
    display: flex;
    justify-content: center;
    align-items: center;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}




